body{
	color: #fff;
	font-family: sans-serif;
}

#getName, #getAge{
	font-size: 40px;
	margin: 20px;
}

.nombre, .edad{
	background: #000;
	color: #fff;
	font-size: 32px;
	margin: 5px;
	padding: 15px;
	display: inline-block;
}